<div class="remove-container container-block">
  <h2 class="container-block-title">
    About Me
  </h2>
  <p>
      My career in web development began in Los Angeles working for the entertainment industry afte gaining my masters degree in art.
      I started by working as a Rich Media Designer/Developer for industry giants such as Disney, Stan Lee,
      and Sony, then consumer marketing agencies like TBWA/Chiat Day and Razorfish. In my spare time I taught
      computer graphics courses at the Art Institute and various non-profits.</p>
  <p>
      In mid-2000, I fulfilled a dream
      to move to New York, landing a job at a startup called Daylife creating visualizations for a
      news aggregation product. Eventually, I went back to entertainment marketing full-time as a lead developer
      at Mammoth Advertising and there realized my curiousity for coding exceeded my love of design. This passion
      for coding brought me to taking more complex programming roles eventually leading to an enterprise-level
      development role for Ogilvy & Mather at IBM.</p>
  <p>
      Continuing my quest to learn more, I founded Binzu Digital to try different roles and endeavors
      as a contract web developer and business owner. Although challenging, working on varying projects over the
      recent months has allowed me to expand my knowledge of the various ingredients for successful web development projects,
      from management and marketing to coding and design.</p>
</div><!--//About-->